*{
    margin: 0%;
}
.container{
    width: 100%;
}
#cabecalho{
    height: 120px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: center;
}
a{
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
    font-size: 28px;
    color: rgb(247, 0, 0)
}
a:hover{
color: black;
font-size: 25px;
background-color: rgb(175, 175, 170);
border-radius: 50px;
box-shadow: 1px 1px rgb(0, 0, 0);

}

#areadaImagem{
    height: 250px;
    background-color: rgb(0, 0, 0);
}
#doisibox{
 height: 700px;
 background-color: rgb(0, 0, 0);
display: flex;
justify-content: space-evenly;
align-items: center;
}

.box {
    width: 20%;
    height: 200px;
    background-color: rgb(148, 8, 8);
}
#rodape{
    height: 120px;
    background-color: rgb(156, 0, 0);
}